@charset "utf-8";

/******************************************************* dividers and spacers */

hr {
	margin: 35px auto;
	display: block;
}

hr.divider {
	margin: 40px auto;
	border-top: 2px solid #eee;
}

/****************************************************************** aligments */

.left { text-align: left; }
.center { text-align: center; }
.right { text-align: right; }

.top { vertical-align: top; }
.middle { vertical-align: middle; }
.bottom { vertical-align: bottom; }

/********************************************************************* panels */

.panel {
	margin: 15px auto;
}

.border {
	border: 2px solid #eee;
	padding: 20px;
	margin-bottom: 15px;
}

/******************************************************** details and summary */

details {
	margin: 15px auto;
}

details summary {
	font-weight: 500;
	user-select: none;
	cursor: pointer;
}

/***************************************************************** navigation */

nav {
	display: block;
}

nav a {
	display: inline-block;
	padding: 10px 0;
	margin-right: 10px;
}

nav.right a {
	margin-right: 0;
	margin-left: 10px;
}

/******************************************************************** buttons */

.button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-size: 100%;
	font-weight: 500;
	padding: 10px 25px;
	display: inline-block;
	cursor: pointer;
	border-radius: 3px;
	background: #ccc;
	border: 2px solid transparent;
	width: auto;
	user-select: none;
}
	.button:hover {
		background: #bbb;
	}

.button.outline {
	border: 2px solid #ddd;
	background: #fff;
}
	.button.outline:hover {
		border-color: #999;
	}

.button.small {
	padding: 8px 15px;
	font-size: 85%;
}

.button.large {
	padding: 15px 35px;
	font-size: 110%;
}

/********************************************************************* images */

img.circle {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	background-size: cover;
}

/********************************************************************* tables */

table {
	width: 100%;
	text-align: left;
}

table th, table td {
	padding: 20px 0;
}

table tr {
	border-bottom: 2px solid #eee;
}

table th {
	font-weight: 700;
	user-select: none;
	cursor: pointer;
}

table.border {
	border: 2px solid #eee;
}

table.border th, table.border td {
	padding: 20px;
}

/************************************************************** form elements */

label {
	display: block;
	font-weight: 500;
	margin-bottom: 10px;
	user-select: none;
	cursor: pointer;
}

input, select {
	border: 2px solid #eee;
	padding: 15px 20px;
	display: inline-block;
	width: 100%;
}

input[type="checkbox"] { width: auto; margin-right: 5px; }
input[type="radio"] { width: auto; margin-right: 5px; }
input[type="color"] { padding: 0; height: 50px; }

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 0;
	background-image:
		linear-gradient(45deg, transparent 50%, #ccc 50%),
		linear-gradient(135deg, #ccc 50%, transparent 50%),
		linear-gradient(to right, #eee, #eee);
	background-position:
		calc(100% - 20px) 22px,
		calc(100% - 15px) 22px,
		calc(100% - 40px) 0px;
	background-size:
		5px 5px,
		5px 5px,
		2px 50px;
	background-repeat: no-repeat;
	cursor: pointer;
}
select::-ms-expand { display: block; }

input[type="search"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
