.row:after {
	content: "";
	clear: both;
	display: block;
}

[class*="col-"] {
	float: left;
	border: 10px solid transparent;
}

.nogutter, .nogutter.row [class*="col-"] {
	border: 0px solid transparent;
}

.col-1 { width: 8.33%; }
.col-2 { width: 16.66%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33%; }
.col-5 { width: 41.66%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33%; }
.col-8 { width: 66.66%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%; }

@media only screen and (max-width: 425px) { /* mobile */
	.wrapper {
		padding: 0 20px;
	}

	[class*="col-"] { width: 100%; }
}

@media only screen and (min-width: 425px) { /* tablet */
	.wrapper {
		padding: 0 30px;
	}

	.col-1-sm { width: 8.33%; }
	.col-2-sm { width: 16.66%; }
	.col-3-sm { width: 25%; }
	.col-4-sm { width: 33.33%; }
	.col-5-sm { width: 41.66%; }
	.col-6-sm { width: 50%; }
	.col-7-sm { width: 58.33%; }
	.col-8-sm { width: 66.66%; }
	.col-9-sm { width: 75%; }
	.col-10-sm { width: 83.33%; }
	.col-11-sm { width: 91.66%; }
	.col-12-sm { width: 100%; }
}

@media only screen and (min-width: 1024px) { /* desktop */
	.col-1 { width: 8.33%; }
	.col-2 { width: 16.66%; }
	.col-3 { width: 25%; }
	.col-4 { width: 33.33%; }
	.col-5 { width: 41.66%; }
	.col-6 { width: 50%; }
	.col-7 { width: 58.33%; }
	.col-8 { width: 66.66%; }
	.col-9 { width: 75%; }
	.col-10 { width: 83.33%; }
	.col-11 { width: 91.66%; }
	.col-12 { width: 100%; }
}
