
* {
	box-sizing: border-box;
	background-color: transparent;
	margin: 0;
	padding: 0;
	border: 0;
	list-style-type: none;
	outline: none;
	text-decoration: none;
	position: relative;
	box-shadow: none;

	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;

	-moz-osx-font-smoothing: grayscale !important;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;

	font-weight: inherit;
	font-style: inherit;
	font-size: inherit

}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
