
/************************************************************** mobile screen */
@media (max-width: 425px) {
	.wrapper { padding: 0 20px; }
}

/********************************************************************* tablet */
@media (min-width: 425px) {
	.wrapper { padding: 0 30px; }
}

/********************************************************************* laptop */
@media (min-width: 768px) {
	.wrapper { padding: 0 30px; }
}

/******************************************************************** desktop */
@media (min-width: 1024px) {
}
