.breadcrumbs {
  li {
    display: inline-block;
    margin: initial;
    padding: 10px 0;
  }

  li+li:before {
    padding: 5px 10px 5px 5px;
    color: black;
    content: "\00bb";
  }

  &.with-slashes {
    li+li:before {
      padding: 5px;
      content: "/\00a0";
    }
  }
}
