@media (prefers-color-scheme: dark) {
  .enable-dark-mode {
    background-color: $dark;
    color: $white;

    progress {
      color: $dark;
    }

    input, select, textarea {
      background: $dark;
      color: $white;
    }

    figure {
      &.outline {
        figcaption {
          background: $gray;
          color: $white;
        }
      }
    }

    .breadcrumbs {
      li+li:before {
        color: $white;
      }
    }

    .button {
      color: $dark;
    }
  }
}
