progress {
  border: 4px solid $border-color;
  background: $border-color;
  width: 100%;
  height: 30px;
  position:relative;

  // data label
  &:before {
    content: attr(data-label);
    font-size: 80%;
    font-weight: 600;
    text-align: center;
    padding-top: 5px;
    position:absolute;
    left:0;
    right:0;
  }

  &::-webkit-progress-bar {
    background: $border-color;
  }

  &::-webkit-progress-value {
    background: $progress-color;
  }

  &::-moz-progress-bar {
    background: $progress-color;
  }
}
