.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
  // border-bottom: 1px dotted black;

  .tooltiptext {
    visibility: hidden;
    background-color: $dark;
    color: $white;
    text-align: center;
    padding: 5px 0;
    border-radius: 3px;

    width: 120px;
    bottom: $tooltip-offset;
    left: 50%;
    margin-left: -60px;

    position: absolute;
    z-index: 1;

    &::after {
      content: " ";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: $dark transparent transparent transparent;
    }
  }

  &:hover {
    .tooltiptext {
      visibility: visible;
    }
  }

  &.bottom {
    .tooltiptext {
      bottom: initial;
      top: $tooltip-offset;

      &::after {
        top: initial;
        bottom: 100%;
        border-color: transparent transparent $dark transparent;
      }
    }
  }
}
