body {
  font-family: "Roboto", sans-serif;
  color: #222;
  font-size: 15px;
}

/* common styles */

strong, b { font-weight: 600; }
em { font-style: italic; }
u { text-decoration: underline; }
s { text-decoration: line-through; }

/* links */

a {
  color: inherit;
  font-weight: 500;
}

/* headings */

h1, h2, h3, h4, h5, h6 {
  margin: 10px auto;
  font-weight: 500;
  display: block;
}

h1 { font-size: 200%; }
h2 { font-size: 180%; }
h3 { font-size: 160%; }
h4 { font-size: 140%; }
h5 { font-size: 120%; }
h6 { font-size: 100%; }

/* paragraphs */

p {
  display: block;
  margin: 15px auto;
  line-height: 160%;
  color: inherit;
}

/* common text styles */

.light { font-weight: 100; }
.bold { font-weight: 500; }
.xbold { font-weight: 700; }
.xxbold { font-weight: 900; }
.italic { font-style: italic; }
.strikethrough { text-decoration: line-through; }
.underline { text-decoration: underline; }
.overline { text-decoration: overline; }
.justify { text-align: justify; }
