
// wrappers

$wrapper: 960px;
$wrapper-small: 660px;
$wrapper-large: 1100px;
$wrapper-full-width: 100%;

// margins

$margin-small: 30px;
$margin-large: 60px;

// colors

$border-color: #eee;
$progress-color: #ccc;
