
// wrappers

$wrapper: 960px;
$wrapper-small: 660px;
$wrapper-large: 1100px;
$wrapper-full-width: 100%;

// margins

$margin-small: 30px;
$margin-large: 60px;

// colors

$border-color: #eee;
$progress-color: #ccc;

$white: #fff;
$dark: #222;
$gray: #444;

// breakpoints

$breakpoint-mobile: 425px;
$breakpoint-tablet: 1024px;
